@import url('https://fonts.googleapis.com/css2?family=Anta&family=Bebas+Neue&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
  .bg1{
    background: linear-gradient(0deg, rgba(0,0,0,0.765), rgba(63, 60, 139, 0.829)),url('/image/background2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .bg2{
    background: linear-gradient(0deg, rgba(13, 122, 31, 0.527), rgba(5, 180, 63, 0.829)),url('/image/bkgLoja.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

